{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="starter-template">
        <h1>This is Home</h1>
        <hr>
        {% if session['role'] == 'admin' %}
        <p><a href="/generateDB" class="btn btn-primary">Buat Tabel pada Database</a></p>
        <p>Table akan dibuat sesuai dengan fungsi generateDB() pada app.py</p>
        {% else %}
        <p>Selamat datang {{ session['name'] }}</p>
        {% endif %}
    </div>
</div>
<!-- /.container -->
{% endblock %}