<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
</head>

<body>

    {% include 'includes/_navbar.html' %}

    {% block body %} {% endblock %}

    {% block js %} {% endblock %}
</body>

</html>